<h1>This is the signup form </h1>

<form action="/signup" method="post">
    Enter Name: <input type=text name="name" ><br></br>
    Enter Username: <input type=text name="username" ><br></br>
    Enter Email: <input type=email name="email" ><br></br>
    Enter Password: <input type=password name="password" ><br></br>
    <input type=submit value="Signup" >
</form>
