<h1>This is the signup form </h1>

<form action= "/signup"   method = "post">
    
     Username: <input type=text name="username" > <br></br>
     Name: <input type=text name="name" > <br></br>
     Password: <input type=password name="password"> <br></br>
     Email: <input type=email name="email" > <br></br>
    <input type=submit value="Signup" >
    Pls Login to join Us:
<form>