<h1>This is the signup form </h1>

<form action='/users/signup' method= "POST">
  Username: <input type=text name="username"><br></br>
  Password: <input type=password name="password"><br></br>
   <input type=submit>
<form>
