
<h3> New Company Info Form </h3>

<form action='/orders' method= "POST">
  Name of the company: <br><input type="text" name="name"><br></br>
  Address:   <br>   <input type="address" name="address"><br></br>
  Brewery_type:<br> <input type="text" name="brewery_type"><br></br>
  Phone:       <br> <input type="number" name="phone"><br></br>
  <br><input type="submit"> 
<form


