
<h1>"THIS IS YOUR ORDER FORM" </h1>

<form action='/orders' method= "POST">
  Name: <input type=text name="name"><br></br>
  Address: <input type=address name="address"><br></br>
  Brewery_type: <input type=text name="brewery_type"><br></br>
  Phone: <input type=number name="phone"><br></br>
   <input type=submit>
<form>