<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Brewery Company</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" att=Brewery Co />
    
  </head>

  <body>
           <h1>Brewery Companies Information </h1>
           
    
                 <% flash.keys.each do |type| %>
                     <div data-alert class="flash <%= type %> alert-box radius">
                  <%= flash[type] %>
                   
            </div>
                 <% end %>
            
               
                <div> 
                <a href="/"> Home</a>
                <% if logged_in? %>
               
                <a href="/orders "> Companies ||</a>
                <a href="/orders/new "> New-Company|| </a>
                <a href="/logout ">Logout</a>
                <% else %>
                <a href="/signup"> Sign Up !!</a>
                <a href="/login "> Log In </a>
                <% end %>
              <div class="wrapper">
            

        <%= yield %>
        </body>
        </html>
      <footer class="branding">
        <small>&copy; 2021 <strong>Created-by-Eskinder</strong></small>
        </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>

