
 
 <div class="container"> 
 <h2>Please logon to see our Brewery companies</h2>

    <a href ="/signup"> SignUp </a><br></br>
    <a href ="/login"> Login </a><br></br>
    <a href="/logout">Log Out</a>

</div> 
  
 

        

    </form> 
</div> 

<style>
container{
    background-color: blue; 
}
 


  a  {
background-color: red;
color: white;
padding: 0.025cm 0.05cm;
text-decoration: none;
text-transform: uppercase;

}


a:active {
background=color: black
}

a:hover {
color: black;
}
</style>





  
    



