


<html>
<head>
</head>
<link rel= "stylesheet"type="text/css"
href= "/style.css"/>
<body>
<h2> pls sign in to log in <h2>

   
</body>
</html>



<style>

body{
   text-align: center;
   align-items: center;
   min-width: fit-content;
   position: relative;
    #font-family: 'Lato', scolor: #111;
    font-size: 16px;
    line-height: 1.5;
    font-family: "proxima-nova",Arial,sans-serif;
    font-weight: 400;
    #-webkit-font-smoothing: antialiased;an-seif;
   # font_weight: 400;

}
container{
    background-color: blue; 
}
 


  a  {
background-color: red;
color: white;
padding: 0.25cm 0.5cm;
border: none;
text-align: center;
#text-transform: uppercase;

}


a:active {
background=color: black
}

a:hover {
color: black;
}
</style>





  
    



